/SourceCode/DayOne/O365-AspNetMVC-Microsoft-Graph-Connect-master/UnifiedApiConnect/Web.config
/SourceCode/DayOne/O365-AspNetMVC-Microsoft-Graph-Connect-master/UnifiedApiConnect/UnifiedApiConnect.csproj
/SourceCode/DayTwo/John.Bot.Sample.EchoBot/packages
/SourceCode/DayTwo/John.Bot.Sample.EchoBot/.vs
/SourceCode/DayThree/Wistron.Bot.Sample/.vs
/SourceCode/DayThree/Wistron.Bot.Sample/packages
/Documents/Workshop-Day1_MicrosoftGraphAPI.pptx
/Documents/Workshop-Day2_BotFramework.pptx
/Documents/Workshop-Day3_CombineBot&Graph.pptx
